.box {
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
    transition: all 0.3s;
    background: white;
    display: flex;
    font-size: 15px;
    gap: 5px;
    align-items: center;
    border: 1px solid #ccc;
}

.box:hover {
    box-shadow: 0 5 10px 0 rgba(0, 0, 0, 0.8);
    padding: 20px;
    cursor: pointer;
}
.box-info{
    border-right: 1px solid #ccc;
    padding-right: 10px;
}
.box span{
    font-size: 10px;
}

.loading-info{
    animation: reveal 0.3s ease;
}

@keyframes reveal{
    0%{
        opacity: 0;
        transform: translateY(10px);
    }
    100%{
        opacity: 1;
        transform: translateY(0);
    }
}